<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-0 text-center border-secondary ">
            <div class="card-header bg-dark">
                <h1 class="h4 text-white">ModGrad </h1>
                <h1 class="h6 text-white">Registrar Usuario</h1>
            </div>
            <div class="card-body">
                <img class="rounded-circle mx-auto d-block logo mt-0 mb-2" src="../img/logoModGrad.png" width="60"
                    height="60" alt="Logo">
                <form action="/users/signupUser" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control bg-light" name="name" placeholder="Nombres"
                            value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control bg-light" name="lastname" placeholder="Primer apellido"
                            value="{{lastname}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control bg-light" name="sec_lastname"
                            placeholder="Segundo apellido" value="{{sec_lastname}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control bg-light" name="identification" placeholder="Cédula"
                            value="{{identification}}">
                    </div>
                    <div class="form-group text-left">
                        <input type="email" class="form-control bg-light" name="email" placeholder="Correo electrónico" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control bg-light" name="password" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control bg-light" name="confirm_password" placeholder="Confirmar contraseña">
                    </div>
                    <div><label for="role">Tipo de usuario</label>
                        <select id="role" name="role">
                            <option value="student">Estudiante</option>
                            <option value="professor">Profesor</option>
              {{#if isRoot}}<option value="admin">Administrador</option>{{/if}}
              {{#if isRoot}}<option value="root">Root</option> {{/if}}
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-secondary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>